@model WebAdmin.Models.AspNetUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TwoFactorEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Developer"))
    { 
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
    }
    <a asp-action="Index">Back to List</a>
</div>

<h4> Application Roles Assigned </h4>
<p>
    <a asp-action="Create" asp-controller="AspNetUserRoles" asp-route-userid="@Model.Id">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Role Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AspNetUserRoles)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.Name)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", "AspNetUserRoles", new { userId=item.UserId , roleId=item.RoleId })
                </td>
            </tr>
        }
    </tbody>
</table>